
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	font-family: 'gothampro-bold';
}

header,
footer,
section {
	max-width: 2050px;
	margin: 0 auto;
	margin-bottom: 70px;
}
h2 {
	font-size: 30px;
	line-height: 43px;
}
.font-white {
	color: white;
}

.section__title {
	margin: 0 auto;
	/* padding-bottom: 80px; */
	text-align: center;
	font-size: 30px;
}
.header-wrap__bg {
	position: relative;
	margin: 0 auto;
	padding-bottom: 100px;
	background-image: url(../img/header.jpg);
	background-position: center;
	background-size: cover;
	color: #fff;
	overflow: hidden;
	/* transition: all 0.3s; */
}
.header-wrap__bg::before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(1, 1, 1, 0.80);
	z-index: 0;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.top__header {
	position: relative;
	display: flex;
	justify-content: space-between;
	z-index: 1;
	height: 110px;
	align-items: center;
	margin-bottom: 70px;
	/* transition: all 0.3s; */
}
.top__logo {
	width: 232px;
	transition: all 0.3s;
}
.top__logo img {
	width: 100%;
	transition: all 0.3s;
}
.top__desc {
	font-family: 'gothampro';
	line-height: 26px;
	transition: all 0.3s;
}
.top__phone-wrap {
	display: flex;
	flex-direction: column;
	align-items: end;
	transition: all 0.3s;
}
.top__phone {
	font-size: 32px;
	color: #fff;
	text-decoration: none;
	transition: all 0.3s;
}
.top__phone-link {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	font-family: 'gothampro';
	transition: all 0.3s;
}
.top__menu-burger-wrap {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}
.top__menu-burger {
	position: relative;
	z-index: 1;
	width: 30px;
	height: 2px;
	background-color: #fff;
}
.top__menu-burger::after,
.top__menu-burger::before {
	position: absolute;
	content: '';
	width: 30px;
	height: 2px;
	background-color: #fff;
}
.top__menu-burger::after{
	top: 10px;
}
.top__menu-burger::before {
	bottom: 10px;
}
.header__main-wrap {
	display: flex;
}
.header__main-left {
	max-width: 66%;
}

.header__title {
	position: relative;
}
.header__title h1 {
	padding-bottom: 75px;
	font-family: 'gothampro-black';
	font-size: 54px;
	line-height: 80px;
	text-transform: uppercase;
	color: #219CFF;
}
.header__title span {
	color: #fff;
	font-size: 48px;
	font-family: 'gothampro-bold';
	/* font-size: 50px; */
}
.header__title p {
	font-size: 30px;
	padding-bottom: 40px;
}
.header__title li {
	font-size: 20px;
	position: relative;
	padding-bottom: 25px;
}
.header__title li::before {
	content: '';
	width: 12px;
	height: 12px;
	position: absolute;
	top: 7px;
	left: -30px;
	background-color: #247ABF;
	border-radius: 50%;
}
.top__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 30px;
	padding-bottom: 90px;
}

.top__list li {
	display: inline-block;
	width: 48%;
}
button {
	cursor: pointer;
}
.button {
	position: relative;
	/* margin-bottom: 105px; */
	/* padding: 22px 65px 27px; */
	background-color: #247ABF;
	border-radius: 5px;
	color: #fff;
	/* font-size: 25px; */
  font-family: 'gothampro-bold';
	box-shadow: 0px 14px 29px RGBA(36, 122, 191, 0.15);
	border: 3px solid RGBA(110, 190, 255, 0.2);
	box-sizing: border-box;
	/* transition: all 0.1s; */
	/* cursor: pointer; */
}
.button-header {
	font-size: 27px;
	min-width: 496px;
	min-height: 88px;
	transition: all 0.2s;
}
.button-main {
	font-size: 21px;
	min-width: 260px;
	min-height: 59px;
	transition: all 0.1s;
}
.button-item {
	border: none;
	background-color: #247ABF;
	color: #fff;
	padding: 16px 50px;
	border-radius: 3px;
	font-family: 'gothampro-bold';
	font-size: 15px;
}
.button-header:hover {
	box-shadow: 0px 14px 29px RGBA(36, 122, 191, 0.55);
	transform: translateY(-2px);
	/* transition: all 0.2s; */
	box-sizing: border-box;
}
.button-header:active {
		box-shadow: 0px 14px 29px RGBA(36, 122, 191, 0.15);
		transform: translateY(0);
		/* transition: all 0.2s; */
		box-sizing: border-box;
}
.button-main:hover {
	transform: scale(1.02);
}
.button-main:active {
	transform: scale(1);
}
input {
	min-height: 59px;
	border: 1px solid gray;
	min-width: 312px;
	font-size: 18px;
	border-radius: 5px;
	color: #000;
	padding-left: 30px;
}
.header__main-right {
	max-width: 34%;
	position: relative;
}
.header__main-right::before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	background-image: url(../img/fon.png);
	background-repeat: no-repeat;
	width: 691px;
	height: 688px;
	opacity: 0.1;
}
.header__main-right img {
	position: absolute;
	top: 14%;
	left: -104px;
	width: 853px;
}

.card__items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 70px;
}
.card__item {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
  width: 350px;
	height: 400px;
	margin: 0 10px 20px 10px;
	padding: 40px 20px;
  border: 1px solid gray;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s;
}
.card__item-img {
	position: relative;
	width: 296px;
	height: 192px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 1px solid #cacaca; */
}
.card__item img{
	width: 100%;
}
.card__item:hover {
	transform: scale(1.02);
}
.object__items {
  display: flex;
  justify-content: center;
	flex-wrap: wrap;
	padding-top: 70px;
	padding-bottom: 70px;
}

.object__item {
	width: 360px;
	height: 235px;
	margin: 0 10px 20px 10px;
	border: 1px solid grey;
}

div.object__item:nth-child(4) {
  width: 550px;
  height: 300px;
}

div.object__item:nth-child(5) {
  width: 550px;
  height: 300px;
}
.work-video__item {
  padding-top: 70px;
  padding-bottom: 70px;
}
.calc__wrap {
  display: flex;
  justify-content: center;
}
.calc__desc {
  width: 40%;
}
.calc__desc h2 {
  margin-bottom: 15px;
}
.calc__desc p {
	font-family: 'gothampro';
	margin-bottom: 40px;
}
.calc__desc span,
.request__wrap span {
	color: #219CFF;
}
.calc__img {
  width: 40%;
}
.delivery-img__items {
  display: flex;
  justify-content: center;
	flex-wrap: wrap;
	padding-top: 70px;
	padding-bottom: 70px;
}

.delivery-img__item {
  width: 400px;
  height: 250px;
  margin-left: 10px;
  margin-right: 10px;
	margin-bottom: 20px;
	border: 1px solid grey;
}
.object {
  /* background-color: #5e5e5e; */
  /* padding-top: 50px; */
}
.object {
	position: relative;
	background-image: url(../img/object.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.object::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	background-color: rgba(1, 1, 1, 0.85);
	/* opacity: 0.9; */
	z-index: 0;
}
.object__wrap {
	position: relative;
	z-index: 1;
	padding-top: 50px;
}
.request__wrap {
	width: 52%;
}
.request__wrap h2 {
	margin-bottom: 15px;
}
.request__wrap p {
  margin-bottom: 40px;
}
.request__wrap form {
  display: flex;
	align-items: center;
	justify-content: space-between;
}
.request-bottom {
	width: 100%;
}
.request-bottom p {
  text-align: center;
}
.request-bottom form {
  flex-direction: column;
}
.request-bottom input{
  margin-bottom: 40px;
}
.work-video {
  position: relative;
  background-image: url(../img/panel-video.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}
.work-video::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	background-color: rgba(1, 1, 1, 0.85);
	/* opacity: 0.9; */
	z-index: 0;
}
.work-video__wrap {
	position: relative;
	z-index: 1;
	min-height: 500px;
}
.design {
  position: relative;
  background-image: url(../img/const.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  /* padding-top: 50px; */
}
.design::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	background-color: rgba(1, 1, 1, 0.85);
	/* opacity: 0.9; */
	z-index: 0;
}
.desing__wrap {
	position: relative;
	z-index: 1;
}
.desing__img {
	padding: 70px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.delivery {
  position: relative;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}
.delivery::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	background-color: rgba(1, 1, 1, 0.85);
	/* opacity: 0.9; */
	z-index: 0;
}
.delivery::before {
	position: absolute;
	top: 35%;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	background-image: url(../img/pin.png);
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 1;
}
.delivery__wrap {
	position: relative;
	z-index: 1;
}
footer {
	background-color: #00225B;
	margin-bottom: 0;
}
.footer {
	padding: 50px 0;
}
.footer__link {
  display: flex;
  flex-direction: column;
}

/* ------fixed----- */
.top_header-menu-fixed {
  position: fixed;
  background-color: #247ABF;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 56px;
  padding-top: 5px;
	box-shadow: 0 4px 13px #00000057;
	transition: all 0.3s;
}

.top__header-fixed {
  height: auto;
  margin-bottom: 0px;
  max-width: 1170px;
	margin: 0 auto;
	transition: all 0.3s;

}

.top__logo-fixed img {
	width: 80%;
	transition: all 0.3s;
}

.top__desc-fixed {
	line-height: 20px;
	transition: all 0.3s;
}

.top__phone-fixed {
	font-size: 25px;
	transition: all 0.3s;
}

.top__phone-link-fixed {
	font-size: 13px;
	transition: all 0.3s;
}
.header-wrap__bg-fixed {
	padding-top: 178px;
	/* transition: all 0.3s; */
}